@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Medium.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

.text-preset-1 {
  font-family: "Fraunces", serif;
  font-size: 32px;
  line-height: var(--line-height-100);
  letter-spacing: var(--letter-spacing-0);
  font-weight: 700;
}

.text-preset-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: var(--line-height-110);
  letter-spacing: var(--letter-spacing-0);
  font-weight: 700;
}

.text-preset-3 {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 14px;
  line-height: var(--line-height-160);
  letter-spacing: var(--letter-spacing-0);
}

.text-preset-4 {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 12px;
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-5);
}

.text-preset-5 {
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 13px;
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-0);
}
