:root {
  --black-color: hsl(212, 21%, 14%);
  --grey-color: hsl(228, 12%, 48%);
  --cream-color: hsl(30, 38%, 92%);
  --white-color: hsl(0, 0%, 100%);
  --green-500-color: hsl(158, 36%, 37%);
  --green-700-color: hsl(158, 42%, 18%);
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --letter-spacing-0: 0px;
  --letter-spacing-5: 5px;
  --line-height-100: 100%;
  --line-height-110: 110%;
  --line-height-120: 120%;
  --line-height-160: 160%;
}

html {
  font-size: 16px;
}

body {
  display: grid;
  place-items: center; /*Aligne horizontalement et verticalement (uniquemnet pour display: grid) */
  min-width: 320px; /* Sécurité pour très petit écran */
  margin-inline: auto;
  background: var(--cream-color);
}

main {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

main > picture,
main > div {
  max-width: 350px;
}

main > picture,
main > div {
  width: 100%;
  @media (min-width: 768px) {
    width: 300px;
  }
}

main > div {
  background: var(--white-color);
  padding: 32px;
}

main > div > section > h1 {
  margin-block: var(--spacing-300);
}

main > div > section:nth-child(2) {
  margin-block: var(--spacing-300);
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.grey-color {
  color: var(--grey-color);
}

.green-500-color {
  color: var(--green-500-color);
}

.white-color {
  color: var(--white-color);
}

.barré {
  text-decoration: line-through;
}

button {
  background: var(--green-500-color);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: center;
  cursor: pointer;
  border: none;
}
